body {
    background: rgb(183,245,93);
    background: linear-gradient(48deg, rgba(183,245,93,1) 0%, rgba(62,70,172,0.5889706224286589) 0%, rgba(0,0,0,1) 100%);
    min-height: 96vh;
}

.container {
  width: 960px;
  padding: 10px 50px 20px;
  background-color: #1A1A2E;
  margin: 20px auto 0;
  box-shadow: 0px 0px 30px rgb(5, 5, 5);
}

nav {
    display: flex;
    justify-content: space-between;
}

span a{
    color: black;
}

nav span {
  background-color: #E3E3E3;
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  padding: 5px 20px;
  cursor: pointer;
}

nav span:hover, span a:hover {
  background-color:#0008C1;
  color: #E8E8E8;
}

h1{
    font-size: 35px;
    color: #E8E8E8;
}

h2 {
  text-align: center;
  font-family: Cambria, "Times New Roman", serif;
  clear: both;
  color: #E8E8E8;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  border:1px black solid;
  width:100%
}
th, td {
  padding:8px 15px;
  border:1px black solid;
}

td{
    color: #E8E8E8;
    text-align: center;
}

tr:nth-child(2n+1) {
    background-color: #E8E8E8;;
}

tr:nth-child(2n+2) {
    background-color: #270082;
}

tr:nth-child(2n+3) {
  background-color: #5800FF;
}

a{
    color: #E8E8E8;
    text-decoration: none;
}